{% extends "layout.html" %}
{% block content %}
    <h3 class="mb-3">About The Application</h3>
    <ul class="mb-5" style="list-style-type:disc">
          <li class="mb-2">The backend of the application will be in Flask (Python) with some extensions like
              Flask-sqlalchemy, Flask-wtforms, Flask-migrate, Flask-login etc.</li>
          <li class="mb-2">Sqlite database is used for the development.</li>
          <li class="mb-2">Web app is hosted on the hobby plan of Heroku with Postgres database.</li>
          <li class="mb-2">version control: git and source code is hosted on github.</li>
        <li class="mb-2">Bootstrap4 and custom css for the frontend.</li>
    </ul>
    <h5 class="mt-4 text-secondary">Developed by: <a href="http://makkoncept.github.io">Mayank Nader</a> </h5>
{% endblock content %}
