{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.image_file }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{url_for('account', username=post.author.username)}}">{{ post.author.username }}</a>
      </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.content }}</p>
        {%  if current_user.is_authenticated %}
              <form method="post" action="{{ url_for('upvote_post', post_id=post.id, user_id=current_user.id)}}">
                  <input class="btn btn-outline-primary btn-sm" type="submit" value="Upvote">
              </form>
        {% endif %}
    </div>
      <!--<small class="text-muted">Posted on : {{ post.date_posted.strftime('%Y-%m-%d') }}</small>-->
    <small class="text-success ml-2"><strong>upvotes : {{ post.id | no_of_upvotes }}</strong></small>
  </article>
    {% if post.author == current_user %}
  <div>
    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-outline-danger" type="submit" value="Delete">
      </form>
    <a class="btn btn-outline-secondary mt-3" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
    {% endif %}
  </div>
{% endblock content %}
